RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


#RewriteRule ^(.+)/uploads/(.+)$ /$1/uploads/$1/$2 [QSA,L]
RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]

Options -Indexes